<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:context="http://www.springframework.org/schema/context"
              xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:property-placeholder location="classpath:application.properties"/>
    <context:component-scan base-package="com.example.spring.introduction"/>
    <bean id="dog" scope="singleton" class="com.example.spring.introduction.Dog"></bean>  <!-- scope="singleton" сразу создается - одиночка -->
    <bean id="cat" scope="prototype" class="com.example.spring.introduction.Cat"></bean>  <!-- scope="prototype" после обращения к контейнеру - какждый раз новый -->
    <bean id="person" class="com.example.spring.introduction.Person" init-method="init" destroy-method="destroy">
        <constructor-arg ref="cat"></constructor-arg>
        <property name="pet" ref="dog"/>
        <property name="age" value="67"/>
        <property name="surname" value="${person.surname}"/>
    </bean>
</beans>